<%- include('./cabecalho'); %>
<h1 class="main">Editar Orcamentos</h1>

<div class="d-grid gap-2 col-10 mx-auto mb-3">
  <form class="form3 row needs-validation" novalidate>
    <% if(perfil.length > 0) { %>
    <input type="hidden" class="form-control" id="perfil" name="perfil" value="<%=perfil %>" required />
    <% } %> <% if(resultado.length > 0) { %>
    <div class="form-check">
      <input type="hidden" class="form-control mb-3" id="newDate" value="" readonly disabled />
      <input type="radio" class="mb-3" id="Radio_1" name="Radio" value="Pessoa Fisica" <%= resultado[0].cpf!=null ? 'checked' : '' %> />
      <label name="Radio1" for="Radio_1">Pessoa Fisica</label>
      <input type="radio" class="mb-3" id="Radio_2" name="Radio" value="Pessoa Juridica"<%= resultado[0].cnpj!=null ? 'checked' : '' %> />
      <label name="Radio2" for="Radio_2">Pessoa Juridica</label>

      <input type="text" data-show-if="Radio1" data-hide-if="Radio2" class="form-control mb-2" id="cpf" name="cpf" value="<%= resultado[0].cpf%>" />
      <input type="text" data-show-if="Radio2" data-hide-if="Radio1" class="form-control mb-2" id="cnpj" name="cnpj" value="<%= resultado[0].cnpj%>" />
      <button type="button" id="buscarcliente" class="btn btn-info mb-3">
        <i class="bi bi-search"></i>
      </button>
      <input
        type="text"
        data-show-if="Radio2"
        data-hide-if="Radio1"
        class="form-control mb-3"
        id="nomeempresa"
        name="nomeempresa"
        placeholder="Digite o nome da empresa"
        value="<%= resultado[0].empresa%>" />
      <input
        type="text"
        data-show-if="Radio2"
        data-hide-if="Radio1"
        class="form-control mb-3"
        id="representante"
        name="representante"
        placeholder="Digite o nome representante"
        value="<%= resultado[0].nomepj%>" />
      <input type="tel" data-show-if="Radio2" data-hide-if="Radio1" class="form-control mb-3" id="telefonepj" name="telefonepj" placeholder="Digite o telefone" value="<%= resultado[0].telefonepj%>" />
      <input type="email" data-show-if="Radio2" data-hide-if="Radio1" class="form-control mb-3" id="emailpj" name="emailpj" placeholder="Digite o email" value="<%= resultado[0].emailpj%>" />
      <input
        type="text"
        data-show-if="Radio2"
        data-hide-if="Radio1"
        class="form-control mb-3"
        id="enderecopj"
        name="enderecopj"
        placeholder="Digite o endereco"
        value="<%= resultado[0].enderecopj%>" />

      <input type="text" data-show-if="Radio1" data-hide-if="Radio2" class="form-control mb-3" id="nomepf" name="nomepf" placeholder="Digite seu Nome do cliente" value="<%= resultado[0].nomepf%>" />
      <input type="tel" data-show-if="Radio1" data-hide-if="Radio2" class="form-control mb-3" id="telefonepf" name="telefonepf" placeholder="Digite o telefone" value="<%= resultado[0].telefonepf%>" />
      <input
        type="text"
        data-show-if="Radio1"
        data-hide-if="Radio2"
        class="form-control mb-3"
        id="enderecopf"
        name="enderecopf"
        placeholder="Digite o endereco"
        value="<%= resultado[0].enderecopf%>" />
      <input type="email" data-show-if="Radio1" data-hide-if="Radio2" class="form-control mb-3" id="emailpf" name="emailpf" placeholder="Digite o email" value="<%= resultado[0].emailpf%>" />
    </div>
    <div class="form-check align-items-center">
      <h6 class="mb-3">ESCOPO DE FORNECIMENTOS CONGELAR</h6>
      <div class="col-auto mb-3">
        <select class="form-select" id="escopocongelar" aria-label="Default select example">
          <option selected>Escopo padrão</option>
          <option value="Fornecimento de materiais e mão de obra especializada">Fornecimento de materiais e mão de obra especializada</option>
          <option value="Suporte e assessoria técnica durante toda a instalação">Suporte e assessoria técnica durante toda a instalação</option>
          <option value="Execução da tubulação frigorifica para instalação do equipamento">Execução da tubulação frigorifica para instalação do equipamento</option>
          <option value="Instalação do equipamento de ar condicionado">Instalação do equipamento de ar condicionado</option>
          <option value="Fornecimento de tubulação de cobre, cabo pp, isolamento térmico">Fornecimento de tubulação de cobre, cabo pp, isolamento térmico</option>
          <option value="Interligação Hidráulica da rede de drenagem">Interligação Hidráulica da rede de drenagem</option>
          <option value="Conexão elétrica de força a partir do cabeamento disponibilizado pelo fornecedor de elétrica, ao lado do borne da unidade condensadora">
            Conexão elétrica de força a partir do cabeamento disponibilizado pelo fornecedor de elétrica, ao lado do borne da unidade condensadora
          </option>
          <option value="Teste pressurização com nitrogênio extra seco">Teste pressurização com nitrogênio extra seco</option>
          <option value="Desidratação interna da tubulação (vácuo)">Desidratação interna da tubulação (vácuo)</option>
          <option value="Testes de funcionamentos">Testes de funcionamentos</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <input type="text" class="form-control mb-3" id="escopo" name="escopo" placeholder="Digite um escopo" />
      </div>
      <div class="col-auto">
        <button type="button" class="botao btn btn-sucess mb-3">
          <i class="bi bi-plus-circle mb-3"></i>
        </button>
        <button type="button" onclick="criarQuadradoeditavel('<%= resultado[0].escopocongelar%>')" class="botao btn btn-sucess mb-3">
          <i class="bi bi-arrow-down"></i>
        </button>
      </div>
      <div class="container-fluid" id="app"></div>
    </div>
    <div class="form-check align-items-center">
      <h6 class="mb-3">ESCOPO DE FORNECIMENTOS A CARGO DO CLIENTE</h6>
      <div class="col-auto mb-3">
        <select class="form-select" id="escopocliente" aria-label="Default select example">
          <option selected>Escopo padrão</option>
          <option value="Fornecimento de materiais e mão de obra especializada">Fornecimento de materiais e mão de obra especializada</option>
          <option value="Suporte e assessoria técnica durante toda a instalação">Suporte e assessoria técnica durante toda a instalação</option>
          <option value="Execução da tubulação frigorifica para instalação do equipamento">Execução da tubulação frigorifica para instalação do equipamento</option>
          <option value="Instalação do equipamento de ar condicionado">Instalação do equipamento de ar condicionado</option>
          <option value="Fornecimento de tubulação de cobre, cabo pp, isolamento térmico">Fornecimento de tubulação de cobre, cabo pp, isolamento térmico</option>
          <option value="Interligação Hidráulica da rede de drenagem">Interligação Hidráulica da rede de drenagem</option>
          <option value="Conexão elétrica de força a partir do cabeamento disponibilizado pelo fornecedor de elétrica, ao lado do borne da unidade condensadora">
            Conexão elétrica de força a partir do cabeamento disponibilizado pelo fornecedor de elétrica, ao lado do borne da unidade condensadora
          </option>
          <option value="Teste pressurização com nitrogênio extra seco">Teste pressurização com nitrogênio extra seco</option>
          <option value="Desidratação interna da tubulação (vácuo)">Desidratação interna da tubulação (vácuo)</option>
          <option value="Testes de funcionamentos">Testes de funcionamentos</option>
        </select>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control mb-3" id="escopo2" name="escopo2" placeholder="Digite um escopo" />
      </div>
      <div class="col-auto">
        <button type="button" class="botao2 btn btn-sucess mb-3">
          <i class="bi bi-plus-circle"></i>
        </button>
        <button type="button" onclick="criarQuadradoeditavel2('<%= resultado[0].escopocliente%>')" class="botao btn btn-sucess mb-3">
          <i class="bi bi-arrow-down"></i>
        </button>
      </div>
      <div class="container-fluid" id="app2"></div>
    </div>
    <button type="button" class="btn btn-info mb-3" onclick="inputeditavel()">Editar <i class="bi bi-arrow-up"></i></button>
    <div class="form-check align-items-center">
      <h6 class="mb-3">Descritivo</h6>
      <input type="text" class="form-control mb-3" id="qtd" name="qtd" placeholder="Digite um qtd" />
      <input type="text" class="form-control mb-3" id="descritivo" name="descritivo" placeholder="Digite um descritivo" />
      <input type="text" class="form-control mb-3" id="valor" name="valor" placeholder="Digite um valor" />
      <input type="number" class="form-control mb-3" id="desconto" name="desconto" placeholder="Digite um desconto" />
      <input type="text" class="form-control mb-3" id="valoratualziado" name="valoratualziado" placeholder="Valor atualizado" />
      <input type="text" class="form-control mb-3" id="parcelado" name="parcelado" placeholder="Digite um parcelamento" />
      <div class="col-md-12 px-3 mb-2">
        <button type="button" class="btn btn-warning" id="botaoAdicionar" onclick="adicionarLinha()"><i class="bi bi-plus-circle"></i> Incluir linha</button>
      </div>
      <table class="table tabelaEditavel1 table-striped mb-3 mt-3" id="tabelaProdutos">
        <thead>
          <tr id="linha">
            <th style="width: 10%">ID</th>
            <th style="width: 10%">QTD</th>
            <th style="width: 10%">Descritivo</th>
            <th style="width: 10%">Valor</th>
            <th style="width: 10%">Desconto</th>
            <th style="width: 10%">Valor Atualizado</th>
            <th style="width: 10%">Parcelado</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < resultado.length; i++) {%>
          <tr id="<%= resultado[i].idtabela%>">
            <td><%= resultado[i].idtabela%></td>
            <td><%= resultado[i].tabelaqtd%></td>
            <td><%= resultado[i].tabeladescricao%></td>
            <td><%= resultado[i].tabelavalor%></td>
            <td><%= resultado[i].tabeladesconto%></td>
            <td><%= resultado[i].tabelanovovalor%></td>
            <td><%= resultado[i].tabelaparcela%></td>
            <td></td>
            <td button>
              <a class="btn btn-danger" onclick="pegandoid('<%= resultado[i].idtabela%>')"><i class="bi bi-trash-fill"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <table class="table tabelaEditavel table-striped mb-3 mt-3" id="tabelaProdutos1">
        <tbody class="tbody"></tbody>
      </table>
    </div>

    <div class="container-fluid" id="app3"></div>
    <div class="container-fluid" id="app4"></div>
    <div class="form-check align-items-center mb-3">
      <input type="hidden" class="form-control mb-3" id="idorcamentopf" name="idorcamentopf" value="<%= resultado[0].idorcamentopf%>" />
      <h6 class="mb-3">CONDIÇÕES DE PAGAMENTO</h6>
      <input type="text" class="form-control mb-3" id="CONDIÇÕES" name="CONDIÇÕES" placeholder="Digite CONDIÇÕES DE PAGAMENTO" value="<%= resultado[0].condicoes%>" />
      <h6 class="mb-3">PRAZO DE EXECUÇÃO</h6>
      <input type="text" class="form-control mb-3" id="EXECUÇÃO" name="EXECUÇÃO" placeholder="Digite PRAZO DE EXECUÇÃO" value="<%= resultado[0].execucao%>" />
      <h6 class="mb-3">GARANTIA</h6>
      <input type="text" class="form-control mb-3" id="GARANTIA" name="GARANTIA" placeholder="Digite GARANTIA" value="<%= resultado[0].garantia%>" />
      <h6 class="mb-3">VALIDADE DA PROPOSTA</h6>
      <input type="text" class="form-control mb-3" id="PROPOSTA" name="PROPOSTA" placeholder="Digite VALIDADE DA PROPOSTA" value="<%= resultado[0].proposta%>" />
    </div>
    <% } %>
    <button type="button" onclick="valorcheckbox2()" class="btn btn-success btn-lg mb-3">Editar Orçamento</button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
<script src="https://colorlib.com/polygon/vendors/jquery/dist/jquery.min.js"></script>
<script src="https://colorlib.com/polygon/vendors/pnotify/dist/pnotify.js"></script>
<script src="https://colorlib.com/polygon/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script>
  var btnElement = document.querySelector("button.botao");
  btnElement.addEventListener("click", criarQuadrado);

  function criarQuadrado() {
    var newDiv1 = document.createElement("div");
    var newDiv = document.createElement("input");
    var texto = document.getElementById("escopo").value;
    var newDiv2 = document.createElement("button");
    newDiv1.className = "dep_fc container-fluid mb-2";
    newDiv.type = "text";
    newDiv.className = "principal form-control ";
    newDiv.name = "principal";
    newDiv.id = "principal";
    newDiv.readOnly = true;
    newDiv.value = texto;
    newDiv2.type = "button";
    newDiv2.innerHTML = '<i class="bi bi-trash-fill"></i>';
    newDiv2.className = "btn btn-sm btn-primary remove";
    newDiv1.appendChild(newDiv);
    newDiv1.appendChild(newDiv2);
    document.querySelector("#app").appendChild(newDiv1);
  }

  function criarQuadradoeditavel(valor) {
    const string = valor;
    const splittedString = string.split(/,(?! )/);
    for (var j = 0; j < splittedString.length; j++) {
      var newDiv1 = document.createElement("div");
      var newDiv = document.createElement("input");
      var texto = splittedString[j];
      var newDiv2 = document.createElement("button");
      newDiv1.className = "dep_fc container-fluid mb-2";
      newDiv.type = "text";
      newDiv.className = "principal form-control ";
      newDiv.name = "principal";
      newDiv.id = "principal";
      newDiv.readOnly = true;
      newDiv.value = texto;
      newDiv2.type = "button";
      newDiv2.innerHTML = '<i class="bi bi-trash-fill"></i>';
      newDiv2.className = "btn btn-sm btn-primary remove";
      newDiv1.appendChild(newDiv);
      newDiv1.appendChild(newDiv2);
      document.querySelector("#app").appendChild(newDiv1);
    }
  }

  var btnElement2 = document.querySelector("button.botao2");
  btnElement2.addEventListener("click", criarQuadrado2);

  function criarQuadrado2() {
    var newDiv9 = document.createElement("div");
    var newDiv8 = document.createElement("input");
    var texto = document.getElementById("escopo2").value;
    var newDiv7 = document.createElement("button");
    newDiv9.className = "dep_fc container-fluid mb-2";
    newDiv8.type = "text";
    newDiv8.className = "principal2 form-control ";
    newDiv8.name = "principal2";
    newDiv8.id = "principal2";
    newDiv8.readOnly = true;
    newDiv8.value = texto;
    newDiv7.type = "button";
    newDiv7.innerHTML = '<i class="bi bi-trash-fill"></i>';
    newDiv7.className = "btn btn-sm btn-primary remove";
    newDiv9.appendChild(newDiv8);
    newDiv9.appendChild(newDiv7);
    document.querySelector("#app2").appendChild(newDiv9);
  }

  function criarQuadradoeditavel2(valor) {
    const string = valor;
    const splittedString = string.split(/,(?! )/);
    for (var j = 0; j < splittedString.length; j++) {
      var newDiv9 = document.createElement("div");
      var newDiv8 = document.createElement("input");
      var texto = splittedString[j];
      var newDiv7 = document.createElement("button");
      newDiv9.className = "dep_fc container-fluid mb-2";
      newDiv8.type = "text";
      newDiv8.className = "principal2 form-control ";
      newDiv8.name = "principal2";
      newDiv8.id = "principal2";
      newDiv8.readOnly = true;
      newDiv8.value = texto;
      newDiv7.type = "button";
      newDiv7.innerHTML = '<i class="bi bi-trash-fill"></i>';
      newDiv7.className = "btn btn-sm btn-primary remove";
      newDiv9.appendChild(newDiv8);
      newDiv9.appendChild(newDiv7);
      document.querySelector("#app2").appendChild(newDiv9);
    }
  }

  function adicionarLinha() {
    var table = document.getElementById("tabelaProdutos1");

    var row = table.insertRow(table.rows.length);
    var chave = "linhaeditavel";
    var chave2 = "editavel";
    var chave3 = "editavelstyle";
    var chave4 = "pegarvalor";
    var chave5 = "pegardesc";
    var chave6 = "editdesconto";
    row.className = chave;

    var cpf = document.getElementById("cpf").value;

    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var cell8 = row.insertCell(7);
    var cell9 = row.insertCell(8);

    cell1.className = chave2;
    cell2.className = chave2;
    cell3.className = chave4;
    cell4.className = chave5;
    cell5.className = chave6;
    cell6.className = chave2;
    cell7.className = chave2;
    cell8.className = chave3;
    cell9.className = chave3;

    cell1.innerHTML = "";
    cell2.innerHTML = document.getElementById("qtd").value;
    cell3.innerHTML = document.getElementById("descritivo").value;
    cell4.innerHTML = document.getElementById("valor").value;
    cell5.innerHTML = document.getElementById("desconto").value;
    cell6.innerHTML = document.getElementById("valoratualziado").value;
    cell7.innerHTML = document.getElementById("parcelado").value;
    cell8.innerHTML = "<button type='button' class='btn btn-success' onclick='Editar()'><i class='bi bi-pencil-square'></i></button>";
    cell9.innerHTML = "<a  class='excluir btn btn-danger' ><i class='bi bi-trash-fill'></i></a>";
  }

  $(".tabelaEditavel1 tbody td").dblclick(function () {
    var conteudoOriginal = $(this).text();

    $(this).addClass("celulaEmEdicao");
    $(this).html("<input type='text' value='" + conteudoOriginal + "' />");
    $(this).children().first().focus();

    $(this)
      .children()
      .first()
      .keypress(function (e) {
        if (e.which == 13) {
          var novoConteudo = $(this).val();
          $(this).parent().text(novoConteudo);
          $(this).parent().removeClass("celulaEmEdicao");
        }
      });

    $(this)
      .children()
      .first()
      .blur(function () {
        $(this).parent().text(conteudoOriginal);
        $(this).parent().removeClass("celulaEmEdicao");
      });
  });

  // $("#tabelaProdutos tbody tr").on("dblclick", function () {
  //   var tdqtd = $(this).find("td:nth-child(2)");
  //   var tddesc = $(this).find("td:nth-child(3)");
  //   var tdval = $(this).find("td:nth-child(4)");
  //   var tddescon = $(this).find("td:nth-child(5)");
  //   var tdnovval = $(this).find("td:nth-child(6)");
  //   var tdparc = $(this).find("td:nth-child(7)");

  //   tdqtd.html("<input type ='text' value='" + tdqtd.html() + "'/td>");
  //   tddesc.html("<input type='text' id='tddesc' value='" + tddesc.html() + "'/>");
  //   tdval.html("<input type='text'id='tdval' value='" + tdval.html() + "'/>");
  //   tddescon.html("<input type='text'id='tddescon' value='" + tddescon.html() + "'/>");
  //   tdnovval.html("<input type='text'id='tdnovval' value='" + tdnovval.html() + "'/>");
  //   tdparc.html("<input type='text'id='tdparc' value='" + tdparc.html() + "'/>");
  // }); //tr

  // $("#tabelaProdutos tbody tr").keypress(function (e) {
  //   if (e.which == 13) {
  //     var tdqtd = $(this).find("td:nth-child(2)");
  //     var tddesc = $(this).find("td:nth-child(3)");
  //     var tdval = $(this).find("td:nth-child(4)");
  //     var tddescon = $(this).find("td:nth-child(5)");
  //     var tdnovval = $(this).find("td:nth-child(6)");
  //     var tdparc = $(this).find("td:nth-child(7)");

  //     tdqtd.html(tdqtd.children("input[type=text]").val());
  //     tddesc.html(tddesc.children("input[type=text]").val());
  //     tdval.html(tdval.children("input[type=text]").val());
  //     tddescon.html(tddescon.children("input[type=text]").val());
  //     tdnovval.html(tdnovval.children("input[type=text]").val());
  //     tdparc.html(tdparc.children("input[type=text]").val());
  //   }
  // });
  function Editar() {
    $(".tabelaEditavel tbody td").dblclick(function () {
      var conteudoOriginal = $(this).text();

      $(this).addClass("celulaEmEdicao");
      $(this).html("<input type='text' value='" + conteudoOriginal + "' />");
      $(this).children().first().focus();

      $(this)
        .children()
        .first()
        .keypress(function (e) {
          if (e.which == 13) {
            var novoConteudo = $(this).val();
            $(this).parent().text(novoConteudo);
            $(this).parent().removeClass("celulaEmEdicao");
          }
        });

      $(this)
        .children()
        .first()
        .blur(function () {
          $(this).parent().text(conteudoOriginal);
          $(this).parent().removeClass("celulaEmEdicao");
        });
    });
  }

  $("#buscarcliente").on("click", function (e) {
    var cpf = document.getElementById("cpf").value;
    var cnpj = document.getElementById("cnpj").value;
    if (cpf != "") {
      $.ajax({
        type: "GET",
        data: { cpf: cpf },
        async: false,
        contentType: "application/json",
        url: "/buscarcliente",
        success: function (data) {
          if (data != "") {
            document.getElementById("nomepf").value = data[0].nome;
            document.getElementById("enderecopf").value = data[0].endereco;
            document.getElementById("telefonepf").value = data[0].telefone;
            document.getElementById("emailpf").value = data[0].email;
          } else {
            alert("Cliente não encontrado");
          }
        },
      });
    } else if (cnpj != "") {
      $.ajax({
        type: "GET",
        data: { cnpj: cnpj },
        async: false,
        contentType: "application/json",
        url: "/buscarclientepj",
        success: function (data) {
          if (data != "") {
            document.getElementById("nomeempresa").value = data[0].empresa;
            document.getElementById("enderecopj").value = data[0].endereco;
            document.getElementById("telefonepj").value = data[0].telefone;
            document.getElementById("emailpj").value = data[0].email;
            document.getElementById("representante").value = data[0].nome;
          } else {
            alert("Cliente não encontrado");
          }
        },
        error: function (request, status, error) {
          alert(request.responseText);
        },
      });
    } else {
      alert("Selecione uma opção");
    }
  });

  function valorcheckbox2() {
    $("#tabelaProdutos tbody tr").each(function () {
      // Recuperar todas as colunas da linha percorida
      var colunas = $(this).children();

      var pedidos = [];
      // Criar objeto para armazenar os dados
      var pedido = {
        id: $(colunas[0]).text(),
        qtd: $(colunas[1]).text(), // valor da coluna Produto
        descricao: $(colunas[2]).text(), // Valor da coluna descricao
        valor: $(colunas[3]).text(), // Valor da coluna valor
        desc: $(colunas[4]).text(), // Valor da coluna desconto
        novalor: $(colunas[5]).text(), // Valor da coluna novovalor
        parcela: $(colunas[6]).text(), // Valor da coluna parcela
      };

      // Adicionar o objeto pedido no array
      pedidos.push(pedido);
      // listando os pedidos função teste
      pedidos.forEach((item) => {
        if (item.qtd == "No data available in table") {
        } else {
          var newDivtab = document.createElement("div");
          var newDivinputid = document.createElement("input");
          var newDivinputqtd = document.createElement("input");
          var newDivinputdescricao = document.createElement("input");
          var newDivinputvalor = document.createElement("input");
          var newDivinputdesc = document.createElement("input");
          var newDivinputnovvalor = document.createElement("input");
          var newDivinputparcela = document.createElement("input");
          newDivtab.className = "container-fluid mb-2";
          newDivinputid.type = "hidden";
          newDivinputid.className = "form-control"; // set the CSS class
          newDivinputid.name = "linhaTabela";
          newDivinputid.value = item.id;
          newDivinputqtd.type = "hidden";
          newDivinputqtd.className = "form-control"; // set the CSS class
          newDivinputqtd.name = "linhaTabela";
          newDivinputqtd.value = item.qtd;
          newDivinputdescricao.type = "hidden";
          newDivinputdescricao.className = "form-control"; // set the CSS class
          newDivinputdescricao.name = "linhaTabela";
          newDivinputdescricao.value = item.descricao;
          newDivinputvalor.type = "hidden";
          newDivinputvalor.className = "form-control"; // set the CSS class
          newDivinputvalor.name = "linhaTabela";
          newDivinputvalor.value = item.valor;
          newDivinputdesc.type = "hidden";
          newDivinputdesc.className = "form-control"; // set the CSS class
          newDivinputdesc.name = "linhaTabela";
          newDivinputdesc.value = item.desc;
          newDivinputnovvalor.type = "hidden";
          newDivinputnovvalor.className = "form-control"; // set the CSS class
          newDivinputnovvalor.name = "linhaTabela";
          newDivinputnovvalor.value = item.novalor;
          newDivinputparcela.type = "hidden";
          newDivinputparcela.className = "form-control"; // set the CSS class
          newDivinputparcela.name = "linhaTabela";
          newDivinputparcela.value = item.parcela;
          document.querySelector("#app3").appendChild(newDivtab);
          document.querySelector("#app3").appendChild(newDivinputid);
          document.querySelector("#app3").appendChild(newDivinputqtd);
          document.querySelector("#app3").appendChild(newDivinputdescricao);
          document.querySelector("#app3").appendChild(newDivinputvalor);
          document.querySelector("#app3").appendChild(newDivinputdesc);
          document.querySelector("#app3").appendChild(newDivinputnovvalor);
          document.querySelector("#app3").appendChild(newDivinputparcela);
        }
      });
    });
    $("#tabelaProdutos1 tbody tr").each(function () {
      // Recuperar todas as colunas da linha percorida
      var colunas = $(this).children();

      var pedidos1 = [];
      // Criar objeto para armazenar os dados
      var pedido1 = {
        id: $(colunas[0]).text(),
        qtd: $(colunas[1]).text(), // valor da coluna Produto
        descricao: $(colunas[2]).text(), // Valor da coluna descricao
        valor: $(colunas[3]).text(), // Valor da coluna valor
        desc: $(colunas[4]).text(), // Valor da coluna desconto
        novalor: $(colunas[5]).text(), // Valor da coluna novovalor
        parcela: $(colunas[6]).text(), // Valor da coluna parcela
      };

      // Adicionar o objeto pedido no array
      pedidos1.push(pedido1);
      // listando os pedidos função teste
      pedidos1.forEach((item) => {
        if (item.qtd == "No data available in table") {
        } else {
          var newDivtab = document.createElement("div");
          var newDivinputid = document.createElement("input");
          var newDivinputqtd = document.createElement("input");
          var newDivinputdescricao = document.createElement("input");
          var newDivinputvalor = document.createElement("input");
          var newDivinputdesc = document.createElement("input");
          var newDivinputnovvalor = document.createElement("input");
          var newDivinputparcela = document.createElement("input");
          newDivtab.className = "container-fluid mb-2";
          newDivinputid.type = "hidden";
          newDivinputid.className = "form-control"; // set the CSS class
          newDivinputid.name = "linhaTabela1";
          newDivinputid.value = item.qtd;
          newDivinputqtd.type = "hidden";
          newDivinputqtd.className = "form-control"; // set the CSS class
          newDivinputqtd.name = "linhaTabela1";
          newDivinputqtd.value = item.qtd;
          newDivinputdescricao.type = "hidden";
          newDivinputdescricao.className = "form-control"; // set the CSS class
          newDivinputdescricao.name = "linhaTabela1";
          newDivinputdescricao.value = item.descricao;
          newDivinputvalor.type = "hidden";
          newDivinputvalor.className = "form-control"; // set the CSS class
          newDivinputvalor.name = "linhaTabela1";
          newDivinputvalor.value = item.valor;
          newDivinputdesc.type = "hidden";
          newDivinputdesc.className = "form-control"; // set the CSS class
          newDivinputdesc.name = "linhaTabela1";
          newDivinputdesc.value = item.desc;
          newDivinputnovvalor.type = "hidden";
          newDivinputnovvalor.className = "form-control"; // set the CSS class
          newDivinputnovvalor.name = "linhaTabela1";
          newDivinputnovvalor.value = item.novalor;
          newDivinputparcela.type = "hidden";
          newDivinputparcela.className = "form-control"; // set the CSS class
          newDivinputparcela.name = "linhaTabela1";
          newDivinputparcela.value = item.parcela;
          document.querySelector("#app4").appendChild(newDivtab);
          document.querySelector("#app4").appendChild(newDivinputid);
          document.querySelector("#app4").appendChild(newDivinputqtd);
          document.querySelector("#app4").appendChild(newDivinputdescricao);
          document.querySelector("#app4").appendChild(newDivinputvalor);
          document.querySelector("#app4").appendChild(newDivinputdesc);
          document.querySelector("#app4").appendChild(newDivinputnovvalor);
          document.querySelector("#app4").appendChild(newDivinputparcela);
        }
      });
    });
    var formDados = $(".form3").serialize();

    $.ajax({
      url: "/editarOrcamento",
      type: "POST",
      data: formDados,
      cache: false,
      processData: false,
      dataType: "html",
      success: function (data) {
        var perfil = document.getElementById("perfil").value;
        window.location.href = "./orcamentos?perfil=" + perfil;
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("buscar cliente para criar orçamento");
      },
    });
  }

  $(document).on("click", "a.excluir", function () {
    $(this).parent().parent().remove();
  });

  function pegandoid(idlinha) {
    var id = idlinha;
    $(this).parent().parent().remove();

    $.ajax({
      type: "get",
      data: { id: id },
      async: false,
      contentType: "application/json",
      url: "/deletelinha",
      success: function (data) {
        var perfil = document.getElementById("perfil").value;
        var cpf = document.getElementById("cpf").value;
        window.location.href = "../editorcamentopf?perfil=" + perfil + "&cpf=" + cpf + "";
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("delete com erro");
      },
    });
  }

  // $(function () {
  //   $("td").dblclick(function () {
  //     var conteudoOriginal = $(this).text();

  //     $(this).addClass("celulaEmEdicao");
  //     $(this).html("<input type='text' value='" + conteudoOriginal + "' />");
  //     $(this).children().first().focus();

  //     $(this)
  //       .children()
  //       .first()
  //       .keypress(function (e) {
  //         if (e.which == 13) {
  //           var novoConteudo = $(this).val();
  //           $(this).parent().text(novoConteudo);
  //           $(this).parent().removeClass("celulaEmEdicao");
  //         }
  //       });

  //     $(this)
  //       .children()
  //       .first()
  //       .blur(function () {
  //         $(this).parent().text(conteudoOriginal);
  //         $(this).parent().removeClass("celulaEmEdicao");
  //       });
  //   });
  // });

  function inputeditavel() {
    $("input").attr("readonly", false);
  }

  $(document).on("click", "button.remove", function () {
    $(this).closest("div.dep_fc").remove();
  });

  $("#desconto").on("change", function () {
    var salario = document.getElementById("valor").value;
    var percentual = document.getElementById("desconto").value;
    percentual = percentual / 100;
    var desconto = salario * percentual;
    var novo_salario = salario - desconto;
    document.getElementById("valoratualziado").value = novo_salario;
  });

  var select = document.getElementById("escopocongelar");
  var variavel = "";
  select.onchange = function () {
    variavel = this.value;
    document.getElementById("escopo").value = variavel;
  };

  var select = document.getElementById("escopocliente");
  var variavel = "";
  select.onchange = function () {
    variavel = this.value;
    document.getElementById("escopo2").value = variavel;
  };
</script>
